In [1]:
import pandas as pd

In [3]:
utterances = pd.read_csv(
    '../data/nikl/NIKL_OM_utterances.csv.tar.gz',
    compression='gzip'
)
utterances.dropna(inplace=True)
utterances = utterances[['id', 'form', 'speaker_id']]
utterances

,id,form,speaker_id
0,MDRW2100000001.1.1,안녕하세요,MDRW2100000001.1_1
1,MDRW2100000001.1.2,️,MDRW2100000001.1_2
3,MDRW2100000001.1.4,이거 해봐요><,MDRW2100000001.1_1
4,MDRW2100000001.1.5,"나의 직장인 멘탈 성향은 [안챙겨도 잘커요, 탕비실 선인장] 당신의 멘탈 성향은 ...",MDRW2100000001.1_2
5,MDRW2100000001.1.6,아앗...,MDRW2100000001.1_2
...,...,...,...
3069922,MMRW2100000241.1.2783,ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ,MMRW2100000241.1_1
3069923,MMRW2100000241.1.2784,아잌ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ,MMRW2100000241.1_3
3069924,MMRW2100000241.1.2785,가즈아,MMRW2100000241.1_3
3069925,MMRW2100000241.1.2786,ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ가즈아!,MMRW2100000241.1_2
3069926,MMRW2100000241.1.2787,달려달려,MMRW2100000241.1_1

In [7]:
forms = utterances['form'][utterances['form'].str.contains(r'\b(?:완전히|완전|아주)\b')]
forms

17                name1님 완전 대인배
28           ㅋㅋㅋㅋ저요? 저 완전 발발이에요
343                      완전 귀여움
427                    완전 먹짱이자나
700         근데 나 흰산호 완전 싸게 구해서
                   ...
3065987         31일까지니까 아주 여유있네
3068503       아 이번 토용템 아주 맘에 든다
3068646             완전 부티크 그 자체
3068683    미애 완전 아이돌 아니냐고~~~!!!
3068709           헐 완전 첨 보는 벽지다
Name: form, Length: 12120, dtype: object

In [16]:
from collections import Counter
cnt_wanjeon = Counter(forms.str.findall(r'\b완전 (\w+)').sum())
cnt_aju = Counter(forms.str.findall(r'\b아주 (\w+)').sum())

In [22]:
df = pd.DataFrame(
    [cnt_wanjeon, cnt_aju],
    index=('완전', '아주')
    ).transpose()
df.fillna(0, inplace=True)
df = df.astype('int')
df

        완전  아주
대인배      1   0
발발이에요    1   0
귀여움      2   0
먹짱이자나    1   0
싸게       7   1
...     ..  ..
북적북적     0   1
안번진다고는   0   1
침착한      0   1
맞을줄알아라   0   1
여유있네     0   1

[7673 rows x 2 columns]

In [ ]:
df.sort_values('완전', ascending=False)

                완전  아주
좋아해요           173  13
많이              58  23
잘               50  59
맛있어요            38   7
좋아요             34  22
...            ...  ..
좋더랔ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ    0   1
많다고              0   1
씐나겠네             0   1
심각혀              0   1
정확해              0   1

[7673 rows x 2 columns]

In [30]:
df_smooth = df + 1
df_smooth['완전/아주'] = df_smooth['완전'] / df_smooth['아주']
df_smooth.sort_values('완전/아주', ascending=True)[:30]

      완전  아주     완전/아주
가끔     3  64  0.046875
그냥     5  63  0.079365
조금     2  25  0.080000
잠깐     1  12  0.083333
아주     1  12  0.083333
바람직한   1   9  0.111111
조금만    1   8  0.125000
조금씩    1   8  0.125000
가끔씩    1   8  0.125000
중요한    1   8  0.125000
살짝     2  15  0.133333
바람직    1   7  0.142857
오래전    1   7  0.142857
굿이에요   1   7  0.142857
좋구만    1   6  0.166667
칭찬해    1   6  0.166667
유용하게   1   6  0.166667
훌륭해    1   6  0.166667
가아끔    1   6  0.166667
나이스    1   6  0.166667
좋습니다   2  11  0.181818
멋진     2  11  0.181818
멀진     1   5  0.200000
잘했오    1   5  0.200000
조아용    1   5  0.200000
짧게     1   5  0.200000
여유로워   1   5  0.200000
즐거운    1   5  0.200000
천천히    2  10  0.200000
길게     1   5  0.200000

In [32]:
print((df['완전'] > 0).sum()) # type-freq
print(df['완전'].sum()) # token-freq

5917
8116

In [33]:
def get_ttr(column):
    token_freq = column.sum()
    type_freq = (column > 0).sum()

    return type_freq / token_freq

In [ ]:
df.apply(get_ttr) # 다양성 비교

완전    0.729054
아주    0.689372
dtype: float64