In [2]:
import pandas as pd

In [3]:
utterances = pd.read_csv(
    '../data/nikl/NIKL_OM_utterances.csv.tar.gz',
    compression='gzip'
    )
utterances.dropna(inplace=True)
utterances = utterances[['id', 'form', 'speaker_id']]
utterances

,id,form,speaker_id
0,MDRW2100000001.1.1,안녕하세요,MDRW2100000001.1_1
1,MDRW2100000001.1.2,️,MDRW2100000001.1_2
3,MDRW2100000001.1.4,이거 해봐요><,MDRW2100000001.1_1
4,MDRW2100000001.1.5,"나의 직장인 멘탈 성향은 [안챙겨도 잘커요, 탕비실 선인장] 당신의 멘탈 성향은 ...",MDRW2100000001.1_2
5,MDRW2100000001.1.6,아앗...,MDRW2100000001.1_2
...,...,...,...
3069922,MMRW2100000241.1.2783,ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ,MMRW2100000241.1_1
3069923,MMRW2100000241.1.2784,아잌ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ,MMRW2100000241.1_3
3069924,MMRW2100000241.1.2785,가즈아,MMRW2100000241.1_3
3069925,MMRW2100000241.1.2786,ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ가즈아!,MMRW2100000241.1_2
3069926,MMRW2100000241.1.2787,달려달려,MMRW2100000241.1_1

In [5]:
speakers = pd.read_csv(
    '../data/nikl/NIKL_OM_speakers.csv.tar.gz',
    compression='gzip'
    )
speakers.dropna(inplace=True)
speakers = speakers[['id', 'age', 'sex']]
speakers.rename(columns={'id': 'speaker_id'}, inplace=True)
speakers

                speaker_id  age sex
0       MDRW2100000001.1_1  20대  여성
1       MDRW2100000001.1_2  20대  여성
2       MDRW2100000001.2_1  20대  여성
3       MDRW2100000001.2_2  20대  여성
4       MDRW2100000001.3_1  20대  여성
...                    ...  ...  ..
168262  MMRW2100000240.1_2  20대  여성
168263  MMRW2100000240.1_3  20대  여성
168264  MMRW2100000241.1_1  20대  여성
168265  MMRW2100000241.1_2  20대  여성
168266  MMRW2100000241.1_3  20대  여성

[168267 rows x 3 columns]

In [6]:
df = utterances.merge(speakers, on="speaker_id")
df

,id,form,speaker_id,age,sex
0,MDRW2100000001.1.1,안녕하세요,MDRW2100000001.1_1,20대,여성
1,MDRW2100000001.1.2,️,MDRW2100000001.1_2,20대,여성
2,MDRW2100000001.1.4,이거 해봐요><,MDRW2100000001.1_1,20대,여성
3,MDRW2100000001.1.5,"나의 직장인 멘탈 성향은 [안챙겨도 잘커요, 탕비실 선인장] 당신의 멘탈 성향은 ...",MDRW2100000001.1_2,20대,여성
4,MDRW2100000001.1.6,아앗...,MDRW2100000001.1_2,20대,여성
...,...,...,...,...,...
2977835,MMRW2100000241.1.2783,ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ,MMRW2100000241.1_1,20대,여성
2977836,MMRW2100000241.1.2784,아잌ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ,MMRW2100000241.1_3,20대,여성
2977837,MMRW2100000241.1.2785,가즈아,MMRW2100000241.1_3,20대,여성
2977838,MMRW2100000241.1.2786,ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ가즈아!,MMRW2100000241.1_2,20대,여성
2977839,MMRW2100000241.1.2787,달려달려,MMRW2100000241.1_1,20대,여성

In [7]:
queries = ('완전', '아주')

In [16]:
def count_queries(df, queries=queries):
    output = {} # {'아주': 3, '완전': 7}
    for query in queries:
        output[query] = df['form'].str.count(fr'\b{query}\b').sum()
    
    return pd.Series(output)

In [13]:
counts = count_queries(df, queries)
counts

완전    8636
아주    3397
dtype: int64

In [14]:
def get_prop(series):
    return series / series.sum()

In [15]:
get_prop(counts)

완전    0.717693
아주    0.282307
dtype: float64

In [17]:
counts_by_age = df.groupby(['age']).apply(count_queries)
counts_by_age

/tmp/ipykernel_76092/3800342961.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  counts_by_age = df.groupby(['age']).apply(count_queries)

          완전    아주
age
10대      589    60
20대     5062  1772
30대     2296  1101
40대 이상   689   464

In [18]:
counts_by_age.apply(get_prop, axis=1)

              완전        아주
age
10대     0.907550  0.092450
20대     0.740708  0.259292
30대     0.675890  0.324110
40대 이상  0.597572  0.402428

In [19]:
counts_by_sex = df.groupby(['sex']).apply(count_queries)
counts_by_sex

/tmp/ipykernel_76092/2066919931.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  counts_by_sex = df.groupby(['sex']).apply(count_queries)

       완전    아주
sex
남성    879   455
여성   7757  2942

In [20]:
counts_by_sex.apply(get_prop, axis=1)

           완전        아주
sex
남성   0.658921  0.341079
여성   0.725021  0.274979

In [21]:
counts_by_age_sex = df.groupby(['age', 'sex']).apply(count_queries)
counts_by_age_sex

/tmp/ipykernel_76092/2338570064.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  counts_by_age_sex = df.groupby(['age', 'sex']).apply(count_queries)

              완전    아주
age    sex
10대    남성     37     1
       여성    552    59
20대    남성    566   245
       여성   4496  1527
30대    남성    188   126
       여성   2108   975
40대 이상 남성     88    83
       여성    601   381

In [22]:
counts_by_age_sex.apply(get_prop, axis=1)

                  완전        아주
age    sex
10대    남성   0.973684  0.026316
       여성   0.903437  0.096563
20대    남성   0.697904  0.302096
       여성   0.746472  0.253528
30대    남성   0.598726  0.401274
       여성   0.683750  0.316250
40대 이상 남성   0.514620  0.485380
       여성   0.612016  0.387984